<div class="create">
    <h1>Pacientes</h1>
    <button (click)="Create()" mat-stroked-button color="accent" class="mat-elevation-z8">NOVO PACIENTE</button>
</div>
<div class="mat-elevation-z8 container">
    <table mat-table [dataSource]="dataSource">


        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome</th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="dataNasc">
            <th mat-header-cell *matHeaderCellDef> Data de Nascimento </th>
            <td mat-cell *matCellDef="let element"> {{element.dataNasc}} </td>
        </ng-container>

        <ng-container matColumnDef="sexo">
            <th mat-header-cell *matHeaderCellDef> Sexo </th>
            <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
        </ng-container>


        <ng-container matColumnDef="endereco">
            <th mat-header-cell *matHeaderCellDef> Endereço </th>
            <td mat-cell *matCellDef="let element"> {{element.endereco}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> AÇÕES </th>
            <td mat-cell *matCellDef="let element">
                <a routerLink="" title="editar"><i id ="edit" class="material-icons">edit</i></a>
                <a routerLink="" title="visualizar"><i id ="delete" class="material-icons">delete</i></a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>