.container {
    width: 70%;
    margin: auto;
}

h1 {
    text-align: center;
}

.labels {
    display: flex;
    justify-content: space-between;
}

.full-width {
    width: 100%;
}

textarea {
    min-height: 8rem;
    max-height: 20rem;
}

button {
    width: 100%;
    margin-bottom: 0.5rem;
}

.grid-list input {
    width: 100%;
    margin: auto;
}

.checkbox {
    margin-right: 10px;
}

.checkbox-section {
    margin: 15px 0;
}