<mat-drawer-container autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">home</i>Home
            </a>

            <a mat-list-item routerLink="os">
                <i class="material-icons">assignment</i>Ordens de Serviço
            </a>
            <a mat-list-item routerLink="patients">
                <i class="material-icons">person</i>Pacientes
            </a>
            <a mat-list-item routerLink="template-drive">
                <i class="material-icons">person</i>Template Drive
            </a>
        </mat-nav-list>

    </mat-drawer>

    <div class="sidenav-content">
        <button type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>more_vert</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>